* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.field {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
}

.air {
    width: 100%;
    height: 70%;
}

.earth {
    background-color: darkgreen;
    width: 100%;
    height: 30%;
}

.points {
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.gamer {
    position: absolute;
    top: 50%;
    left: 50px;
}

#tree {
    position: absolute;
    top: 55%;
    left: 500px;
    background-color: brown;
    height: 100px;
    width: 25px;
}

#tree2 {
    position: absolute;
    top: 55%;
    left: 800px;
    background-color: brown;
    height: 100px;
    width: 25px;
}

