* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cities a {
    width:  250px;
    height: 250px;
    background-color: aquamarine;
    vertical-align: center;
    text-align: center;
    margin: 20px;
    padding-top: 30px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
